<div class = "ajedrez">
		
  <div>
    
    <div id="a8" style="background-color:rgb(188, 147, 90)" (click)="movimiento('a8')">&#9820;</div>
    <div id="b8" style="background-color:rgb(102, 56, 40)" (click)="movimiento('b8')">&#9822;</div>
    <div id="c8" style="background-color:rgb(188, 147, 90)" (click)="movimiento('c8')">&#9821;</div>
    <div id="d8" style="background-color:rgb(102, 56, 40)" (click)="movimiento('d8')">&#9819;</div>
    <div id="e8" style="background-color:rgb(188, 147, 90)" (click)="movimiento('e8')">&#9818;</div>
    <div id="f8" style="background-color:rgb(102, 56, 40)" (click)="movimiento('f8')">&#9821;</div>
    <div id="g8" style="background-color:rgb(188, 147, 90)" (click)="movimiento('g8')">&#9822;</div>
    <div id="h8" style="background-color:rgb(102, 56, 40)" (click)="movimiento('h8')">&#9820;</div>
    
  </div>
  
  <div>
    
    <div id="a7" style="background-color:rgb(102, 56, 40)" (click)="movimiento('a7')">&#9823;</div>
    <div id="b7" style="background-color:rgb(188, 147, 90)" (click)="movimiento('b7')">&#9823;</div>
    <div id="c7" style="background-color:rgb(102, 56, 40)" (click)="movimiento('c7')">&#9823;</div>
    <div id="d7" style="background-color:rgb(188, 147, 90)" (click)="movimiento('d7')">&#9823;</div>
    <div id="e7" style="background-color:rgb(102, 56, 40)" (click)="movimiento('e7')">&#9823;</div>
    <div id="f7" style="background-color:rgb(188, 147, 90)" (click)="movimiento('f7')">&#9823;</div>
    <div id="g7" style="background-color:rgb(102, 56, 40)" (click)="movimiento('g7')">&#9823;</div>
    <div id="h7" style="background-color:rgb(188, 147, 90)" (click)="movimiento('h7')">&#9823;</div>

  </div>
  
  <div>
    
    <div id="a6" style="background-color:rgb(188, 147, 90)" (click)="movimiento('a6')"></div>
    <div id="b6" style="background-color:rgb(102, 56, 40)" (click)="movimiento('b6')"></div>
    <div id="c6" style="background-color:rgb(188, 147, 90)" (click)="movimiento('c6')"></div>
    <div id="d6" style="background-color:rgb(102, 56, 40)" (click)="movimiento('d6')"></div>
    <div id="e6" style="background-color:rgb(188, 147, 90)" (click)="movimiento('e6')"></div>
    <div id="f6" style="background-color:rgb(102, 56, 40)" (click)="movimiento('f6')"></div>
    <div id="g6" style="background-color:rgb(188, 147, 90)" (click)="movimiento('g6')"></div>
    <div id="h6" style="background-color:rgb(102, 56, 40)" (click)="movimiento('h6')"></div>

  </div>
  
  <div>
    
    <div id="a5" style="background-color:rgb(102, 56, 40)" (click)="movimiento('a5')"></div>
    <div id="b5" style="background-color:rgb(188, 147, 90)" (click)="movimiento('b5')"></div>
    <div id="c5" style="background-color:rgb(102, 56, 40)" (click)="movimiento('c5')"></div>
    <div id="d5" style="background-color:rgb(188, 147, 90)" (click)="movimiento('d5')"></div>
    <div id="e5" style="background-color:rgb(102, 56, 40)" (click)="movimiento('e5')"></div>
    <div id="f5" style="background-color:rgb(188, 147, 90)" (click)="movimiento('f5')"></div>
    <div id="g5" style="background-color:rgb(102, 56, 40)" (click)="movimiento('g5')"></div>
    <div id="h5" style="background-color:rgb(188, 147, 90)" (click)="movimiento('h5')"></div>
    
  </div>
  
  <div>
    
    <div id="a4" style="background-color:rgb(188, 147, 90)" (click)="movimiento('a4')"></div>
    <div id="b4" style="background-color:rgb(102, 56, 40)" (click)="movimiento('b4')"></div>
    <div id="c4" style="background-color:rgb(188, 147, 90)" (click)="movimiento('c4')"></div>
    <div id="d4" style="background-color:rgb(102, 56, 40)" (click)="movimiento('d4')"></div>
    <div id="e4" style="background-color:rgb(188, 147, 90)" (click)="movimiento('e4')"></div>
    <div id="f4" style="background-color:rgb(102, 56, 40)" (click)="movimiento('f4')"></div>
    <div id="g4" style="background-color:rgb(188, 147, 90)" (click)="movimiento('g4')"></div>
    <div id="h4" style="background-color:rgb(102, 56, 40)" (click)="movimiento('h4')"></div>
    
  </div>
  
  <div>
    
    <div id="a3" style="background-color:rgb(102, 56, 40)" (click)="movimiento('a3')"></div>
    <div id="b3" style="background-color:rgb(188, 147, 90)" (click)="movimiento('b3')"></div>
    <div id="c3" style="background-color:rgb(102, 56, 40)" (click)="movimiento('c3')"></div>
    <div id="d3" style="background-color:rgb(188, 147, 90)" (click)="movimiento('d3')"></div>
    <div id="e3" style="background-color:rgb(102, 56, 40)" (click)="movimiento('e3')"></div>
    <div id="f3" style="background-color:rgb(188, 147, 90)" (click)="movimiento('f3')"></div>
    <div id="g3" style="background-color:rgb(102, 56, 40)" (click)="movimiento('g3')"></div>
    <div id="h3" style="background-color:rgb(188, 147, 90)" (click)="movimiento('h3')"></div>
    
  </div>
  
  <div>
    
    <div id="a2" style="background-color:rgb(188, 147, 90)" (click)="movimiento('a2')">&#9817;</div>
    <div id="b2" style="background-color:rgb(102, 56, 40)" (click)="movimiento('b2')">&#9817;</div>
    <div id="c2" style="background-color:rgb(188, 147, 90)" (click)="movimiento('c2')">&#9817;</div>
    <div id="d2" style="background-color:rgb(102, 56, 40)" (click)="movimiento('d2')">&#9817;</div>
    <div id="e2" style="background-color:rgb(188, 147, 90)" (click)="movimiento('e2')">&#9817;</div>
    <div id="f2" style="background-color:rgb(102, 56, 40)" (click)="movimiento('f2')">&#9817;</div>
    <div id="g2" style="background-color:rgb(188, 147, 90)" (click)="movimiento('g2')">&#9817;</div>
    <div id="h2" style="background-color:rgb(102, 56, 40)" (click)="movimiento('h2')">&#9817;</div>

  </div>
  
  <div>

    <div id="a1" style="background-color:rgb(102, 56, 40)" (click)="movimiento('a1')">&#9814;</div>
    <div id="b1" style="background-color:rgb(188, 147, 90)" (click)="movimiento('b1')">&#9816;</div>
    <div id="c1" style="background-color:rgb(102, 56, 40)" (click)="movimiento('c1')">&#9815;</div>
    <div id="d1" style="background-color:rgb(188, 147, 90)" (click)="movimiento('d1')">&#9813;</div>
    <div id="e1" style="background-color:rgb(102, 56, 40)" (click)="movimiento('e1')">&#9812;</div>
    <div id="f1" style="background-color:rgb(188, 147, 90)" (click)="movimiento('f1')">&#9815;</div>
    <div id="g1" style="background-color:rgb(102, 56, 40)" (click)="movimiento('g1')">&#9816;</div>
    <div id="h1" style="background-color:rgb(188, 147, 90)" (click)="movimiento('h1')">&#9814;</div>
    
  </div>

</div>
